Source: hadess-sensorfw-proxy
Section: admin
Priority: optional
Build-Depends: cmake,
               debhelper (>= 11),
               dbus,
               libglib2.0-dev,
               pkg-config,
               systemd,
Maintainer: Erfan Abdi <erfangplus@gmail.com>
Standards-Version: 3.9.5
Homepage: https://github.com/droidian/hadess-sensorfw-proxy

Package: hadess-sensorfw-proxy
Section: libs
Architecture: any
Pre-Depends: iio-sensor-proxy,
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libsensorfw-qt6-plugins,
         libsensorfw-qt6-hybris,
Description: Sensorfw sensors to hadess iio proxy adaptor
 Sensorfw sensors to hadess iio proxy adaptor
